{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class = "post">
            <h1><a href = "{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <!--
            <p>{{ post.vote_count }}</p>
            
            <div class = "up_vote">
                <a href = "{% url 'post_upvote' pk=post.pk %}">
                    <img src = "http://www.stickaz.com/3086-3970-large/upvote-downvote.png" alt = "Upvote"/>
                </a>
            </div>
            <div class = "down_vote">
                <a href = "{% url 'post_downvote' pk=post.pk %}">
                    <img src = "http://www.stickaz.com/3086-3970-large/upvote-downvote.png" alt = "Downvote"/>
                </a>
            </div>
            -->
            <div class = "subTitle">
                <p>published: {{ post.published_date }}</p>
            </div>
            <div class = "body">
                <p>{{ post.text|linebreaks }}</p>
            </div>
            <a href="{% url 'blog.views.post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </div>
        <hr>
    {% endfor %}
{% endblock %}