.page-header {
    background-color: red;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Bangers', cursive;
}

.subTitle {
    color: #828282;
    font-size: 9pt;
}

.body {
    font-size: 12pt;
    font-family: Times;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 50px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
    font-family: Calibri;
}

.subcomment {
    margin: 20px 0px 20px 40px;
    font-family: Calibri;
}

.up_vote {
    height: 15px;
    overflow: hidden;
}

.down_vote {
    margin-top: -15;
    height: 30px;
    overflow: hidden;
}

img {
    width: 20px;
    height: 30px;
}